.logo {
    width: 400px;
    line-height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    margin-bottom: 20px;
}

.search-bar {
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    line-height: 30px;
    border: 1px solid grey;
    background: whitesmoke;
    border-radius: 20px;
}

.btn {
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 16px;
    padding-right: 16px;
    border: 1px solid grey;
    border-radius: 20px;
}

.btn-wrapper {
    display: flex;
    justify-content: center;
}